footer{
    width:100%;
    height:165px;
    background: #f2f2f2;
}
/*------------------------------footer1-------------------------*/
footer .footer1{
    height:115px;
    padding:25px 0;
}
footer .footer1 ul{
    width:155px;
    height:112px;
    border-right:1px dashed #ccc;

}
footer .footer1 .ul6{
    border-right:0;
}
footer .footer1 ul li{
    height:28px;
    line-height:28px;
    font-size:12px;
    text-align: center;
    
}
/*-----------------------------------footer2-------------------------*/
footer .footer2{
    height:289px;
    padding:28px 0;
}
footer .footer2 h3{
    font-size: 16px;
    color: #999999;
}
footer .footer2 ul{
     float: left;
     width:137px;
     
}
footer .footer2 ul li{
    height:29px;
    line-height:29px;
}

/*------------------------------------footer3------------------------*/
footer .footer3{
    height:300px;
    background:#04277d;
    position: relative;
    overflow: hidden;

}
footer .footer3 .w .tubiao{
    width:80px;
    height:102px;
    background:url("../img/首页/philips-footer-logo.png") no-repeat;
    margin:45px auto;
}
footer .footer3 .footer3box1{
    position: absolute;
    color:white;
    top:76px;
    right:250px;
}
footer .footer3 .footer3box1 a{
    color:white;
}
footer .footer3 .footer3box2{
    height:66px;
    text-align: center;
}
footer .footer3 .footer3box2 ul li{
    display:inline-block;

}
footer .footer3 .footer3box2 ul li a{
    color:white;
    border-right:1px solid white;
}
footer .footer3 .footer3box2 p{
    color:white;
}