/*=======================header=================*/
/*
header{
    width:100%;
    height:662px;
      }
header .box{
    width:100%;
    height:615px;
    position: relative;
}
#lbt{
    position:absolute;
    width:100%;
    height:615px;
    overflow: hidden;
}
header .navBox{
    position: relative;
    height:162px;
    z-index: 2;
    top:7px;
    left:80px;
}
header .navBox h1{
    width:154px;
    height:155px;
    margin-top:14px;

}
header .navBox a{
    width:154px;
    height:155px;
    display:block;

    }
header .navBox .navul{
    width:768px;
    height:36px;
    line-height:36px;
    margin-left:34px;
    border-bottom:1px solid #bac4d2;
} 
header .navBox .navul li{
    width:56px;
    height:36px;
    padding-right:20px;
    font-size:14px;
    position: relative;
}
header .navBox .erji{
    height:0px;
    background:orange;
    position: absolute;
    top:36px;
    display: none;
}
header .navBox .navul li a{
    display: block;
    width:56px;
    height:100%;
    color:#fff;
}
header .navBox .navul li a:hover{
    color:orange;
}
header .navBox .navul .r{
    width:12px;
}
header .navBox .navul .r a{
    width:12px;
    height:18px;
}
header .navBox .navul li:nth-of-type(8){
    background: url("../img/首页/zoom.png") no-repeat center;
}header .navBox .navul li:nth-of-type(9){
    background: url("../img/首页/buycart.png") no-repeat center;
}header .navBox .navul li:nth-of-type(10){
    background: url("../img/首页/person.png") no-repeat center;
}
*/




header{
    height:678px;
    overflow: hidden;
    position: relative;
}
header .headall{
    height:678px;
    width:1418px;
    overflow: hidden;

}
header #lbt{
    height:615px;
}
header nav{
    width:100%;
    height: 180px;
    position: absolute;
    top:0;
}
header nav .w{
    height:180px;
}
header .w h1{
    width:160px;
    height:160px;
    display:inline-block;
    margin-top:10px;
    background:url("../img/首页/logo.png") no-repeat;
    background-size:160px 160px;
}
header .navul{
    float:right;
    height:36px;
    margin-top:7px;
    line-height:36px;
    border-bottom:1px solid #bac4d2;  
}
header .navul .l{
   padding-right:20px;
}
header .navul .r{
    width:30px;
    height:36px;
}
header .navul li a{
    display:block;
    border-bottom:0;
}
header .navul .r a{
    width:30px;
    height:36px;
}
header .navul li:nth-of-type(10){
    margin-left:160px;
}
header .navul li:nth-of-type(8) a{
    background: url("../img/首页/zoom.png") no-repeat center;
}
header .navul li:nth-of-type(9) a{
    background: url("../img/首页/buycart.png") no-repeat center;
    position: relative;
}
header nav .w .navul li:nth-of-type(9) a p{ 
    width:19px;
    height:13px;
    position: absolute;
    bottom:0;
    left:9px;
    background:url("../img/首页/num-new.png") no-repeat;
}

header .navul li:nth-of-type(10) a{
    background: url("../img/首页/person.png") no-repeat center;
}
 





