.login{
    background:url("../img/首页/bg.jpg") no-repeat;
    background-size:cover; 
    height:955px;
}
.login h1{
    display: inline-block;
    width:178px;
    height:178px;
    background: url("../img/首页/logo.png") no-repeat;
    background-size:178px 178px;
}