@charset "utf-8";
body{
    background:url("../../img/首页/bg.jpg") no-repeat;
    background-size:cover;

}
#header{
    width: 100%;
    height:170px;
    .w{
        margin-top:20px;
        height:150px;
        h1{
            width:150px;
            height:150px;
            background: url("../../img/首页/logo.png");
        }
        .navul{
            float:right;
            height:36px;
            margin-top:7px;
            line-height:36px;
            border-bottom:1px solid #bac4d2;  
                .l{
                padding-right:20px;
                }
                .r{
                    width:30px;
                    height:36px;
                }
                li a{
                    display:block;
                    border-bottom:0;
                }
                .r a{
                    width:30px;
                    height:36px;
                }
                li:nth-of-type(10){
                    margin-left:160px;
                }
                li:nth-of-type(8) a{
                    background: url("../../img/首页/zoom.png") no-repeat center;
                }
                li:nth-of-type(9) a{
                    background: url("../../img/首页/buycart.png") no-repeat center;
                    position: relative;
                }
                li:nth-of-type(9) a p{ 
                    width:19px;
                    height:13px;
                    position: absolute;
                    bottom:0;
                    left:9px;
                    background:url("../../img/首页/num-new.png") no-repeat;
                }

                li:nth-of-type(10) a{
                    background: url("../../img/首页/person.png") no-repeat center;
                }
        }

    }
}
/*===================================main===============*/
main{ 
    overflow: hidden;
    height:600px;
        h2{
            width:100%;
            height:76px;
            line-height:76px;
            background:#1a4d8e;
            color:white;
            padding-left:40px;
        }
        .mp1{
            width:100%;
            height:50px;
            line-height:50px;
            background:#b5c8e4;
            color:black;
            padding-left:40px;
        }

        .mdiv{
            overflow: hidden;
            height:400px;
            background:white;
            padding:40px 220px 0px;
            .mp2{
                width:100%;
                height:50px;
                line-height:25px;
                background:#eff3f8;
                color:#2851cf;
                text-align:center;
            }
            .mp3{
                font-size: 16px;
                margin-top:15px;
                height:60px;
                line-height:60px;
                text-align:center;
                color:#666666;

            }
            .form{
                height:270px;
                margin:0 auto;
                padding:0 77px;
                form{
                    input{
                        height:50px;
                    }
                    .text1{
                        width:340px;
                        margin-bottom: 12px;
                        border:1px slolid #ccc;
                    }
                    .border{
                        border:1px solid #ccc;
                        height:50px;
                        .text2{
                            width:240px;
                            height:48px;
                            margin-bottom: 24px;
                            border:0;
                        }
                        .button1{
                            width:100px;
                            height:50px;
                            background:#2365a1;
                            border:0;
                            color:white;

                        }
                    }
                    .button2{
                        width:344px;
                        background:#2365a1;
                        border:0;
                        text-align: center;
                    }
                    a{
                        color:#2365a1;
                    }
                }
            }
        }

}
